div
{
	text-align:center;
	align-items: center;

}

.left-button
{
	position: relative;
	left: 10%;
}

.right-button
{
	position: relative;
	right: 10%;
}

.row, .post_action_bar
{
  	display: flex;
}


.col2
{
  	flex:50%;
	height:22px;
}

.poster_id, .post_like, .post_comment, .post_share, .post_edit, .del_post
{
  	flex:16.6%;
	height: 18px;
}

#content
{
	display:flex;
	flex-direction : row;
}

#stream
{
  	flex: 75%;
}

#friends
{
  	flex: 25%;
}

.dropdown 
{
  	position: relative;
  	display: inline-block;
}

.dropdown-content 
{
  	display: none;
  	position: absolute;
  	background-color: #f1f1f1;
  	z-index: 1;
}

.dropdown-content a 
{
  	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
}

.dropdown-content a:hover
{
	background-color: #ddd;

}

.dropdown:hover .dropdown-content 
{
  	display: block;
}

.dropdown:hover .dropbtn 
{
  	background-color: #3e8e41;
}

.exppost, #newpost
{
  	margin-left:25%;
  	width:50%;
}

#newpost, .post_content, .post_action_bar, .edit, .exppost, #stream
{
  	padding: 5px 5px 5px 5px;
}

#text_input, .edit_input, #post_content_box
{
	width: 96%;
}

.del_post, .post_like, .post_comment, post_edit, .post_comment
{
	height: 18px;
}

#stream, #nav, #sitedat, .exppost, #newpost, .edit, #friends, .friend
{
	border-collapse: collapse;
	border-color:black;
  	border-width:1px;
  	border-style:solid;
}
