
{% load static %}
<a href="https://codepen-api-export-production.s3.us-west-2.amazonaws.com/zip/PEN/pyBNzX/1578778289271/pure-css-gradient-background-animation.zip" class="btn btn-outline-light" aria-current="page"></a>
<link rel="stylesheet" type="text/css" href="{% static 'userpage/style.css' %}">
<script src="{% static 'userpage/pagescript.js' %}"></script>
<div class="background">
<div id="nav" class="row">
	<div id="search" class="col2">
		<form action="{% url 'search' %}" method="post">
		{% csrf_token %}
			<input type="text" placeholder="User Search.." name="search"/>
			<input type="submit" value="go" />
		</form>
	</div>
	<div id="account" class="col2">
		<div class="dropdown"><button class="dropbtn">
			{% if user != 1 %}
				{{ user.user_name }}
			{% else %}
				signed-out
			{% endif %}
		</button>
			<div class="dropdown-content">
				<a href="http://127.0.0.1:8000/userpage">(signin/out)</a> 
				{% if user != 1 %}
					<a href="http://127.0.0.1:8000/userpage/{{ user.id }}/">(acc page)</a> 
					<a onclick="pass_chng()">(change password)</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div id="content" class="row">
	<div id="stream">
		<div id="poststream">
			{% for post in post_list %}
    				<div class="exppost">
					<div class="post_content" id="post{{ post.id }}"><textarea id="post_content_box" rows="5" name="post_content_box" placeholder="Say something interesting..." readonly>{{ post.post_text }}</textarea></div>
					<div class="edit_box" id="edit{{ post.id }}" hidden>
						<form action="{% url 'edit' post.id %}" method="post">
						{% csrf_token %}
							<div class="edit">
								<input hidden type="text" value="0" name="edit">
								<textarea class="edit_input" maxlength="256" name="text_input" rows="5" placeholder="Say something interesting...">{{ post.post_text }}</textarea>
								<br>
								<input type="submit" value="submit changes" />
							</div>
						</form>
					</div>
					<div class="post_action_bar">
						<div class="poster_id">
							<form action="{% url 'search' %}" method="post">
								{% csrf_token %}
								<input hidden type="text" name="search" value="{{post.op}}"/>
								<input type="submit" value="{{post.op}}" />
							</form>
						</div>
						{% if user != 1 %}
							<div class="post_like"><form action="{% url 'like' post.id %}" method="post">{% csrf_token %}<input hidden type="text" value="0" name="like"><input type="submit" value="like {{ post.like_set.count }}" /></form></div>
							<div class="post_comment"><form action="{% url 'comment_page' post.src %}" method="post">{% csrf_token %}<input type="submit" value="comment" /></form></div>
							{% if user.user_name != post.op %}
								<div class="post_share"><form action="{% url 'share' post.src %}" method="post">{% csrf_token %}<input hidden type="text" value="{{ post.user.id }}" name="share"><input type="submit" value="share" /></form></div>
							{% endif %}
							{% if user.id == page.id %}
								{% if user.user_name == post.op %}						
									<div class="post_edit"><input type="submit" value="edit" onclick="edit_fun({{ post.id }}, 0)" /></div>
								{% endif %}
								<div class="del_post"><form action="{% url 'delete' post.id %}" method="post">{% csrf_token %}<input hidden type="text" value="0" name="del"><input type="submit" value="del" /></form></div>
							{% endif %}					
						{% endif %}
					</div>
				</div>
				<br />
			{% endfor %}
			{% if user.id == page.id %}
				<form action="{% url 'post' page.id %}" method="post">
				{% csrf_token %}
					<div id="newpost">
						<textarea id="text_input" maxlength="256" rows="5" name="text_input" placeholder="Say something interesting..."></textarea>
						<div id="counter">0/256</div>
						<input type="submit" value="post" />
					</div>
				</form>
			{% endif %}
		</div>
	</div>
	<div id="friends">
		<div id="page_name">
			<a href="http://127.0.0.1:8000/userpage/{{ page.id }}/"><h1>{{ page.user_name }}</h1></a>
			{% if user.id != page.id %}
				<form action="{% url 'friend' page.id %}" method="post">
				{% csrf_token %}
					<input type="submit" value="{% if friendstat == "False" %}friend{% else %}unfriend{% endif %}" />
				</form>
			{% endif %}		
		</div>
		<h4 align-self="left" >Friends:</h4>
		<div id="friends_send_acc">
			{% for friend in friend_send %}
				<div class="friend">
					<a href="http://127.0.0.1:8000/userpage/{{ friend.receiver.id }}/">{{ friend.receiver.user_name }}</a>
					<div class="row">
						{% if page.id == user.id %}
							<div class="col2 left-button">
								<form action="{% url 'friend' friend.receiver.id %}" method="post">
								{% csrf_token %}
									<input hidden type="text" value="0" name="friend">
									<input type="submit" value="unfriend" />
								</form>
							</div>
						{% endif %}
						{% if page.id == user.id %}
							{% if friend.receiver.id != user.id %}
								<div class="col2 {% if page.id == user.id %}right-button{% endif %}">
									<div class="mesg"><input type="submit" class="mesg" value="Message" onclick="message('{{ friend.receiver.user_name }}', '{{ friend.sender.user_name}}')" /></div>
								</div>
							{% endif %}
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div id="friends_get_acc">
			{% for friend in friend_get %}
				<div class="friend">
					<a href="http://127.0.0.1:8000/userpage/{{ friend.sender.id }}/">{{ friend.sender.user_name }}</a>
					<div class="row">
						{% if page.id == user.id %}
							<div class="col2 left-button">
								<form action="{% url 'friend' friend.sender.id %}" method="post">
								{% csrf_token %}
									<input hidden type="text" value="0" name="friend">
									<input type="submit" value="unfriend" />
								</form>
							</div>
						{% endif %}
						{% if page.id == user.id %}
							{% if friend.sender.id != user.id %}
								<div class="col2 {% if page.id == user.id %}right-button{% endif %}">
									<div class="mesg"><input type="submit" class="mesg" value="Message" onclick="message('{{ friend.receiver.user_name }}', '{{ friend.sender.user_name}}')" /></div>
								</div>
							{% endif %}
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		{% if page.id == user.id %}
			<hr>
			<h4>Pending Requests:</h4>
			<div id="friends_send">
				{% for friend in friend_request_get %}
					<div class="friend">
						<a href="http://127.0.0.1:8000/userpage/{{ friend.sender.id }}/">{{ friend.sender.user_name }}</a>
						<div class="row">
							<div class="col2 left-button">
								<form action="{% url 'friend' friend.sender.id %}" method="post">
								{% csrf_token %}
									<input hidden type="text" value="0" name="friend">
									<input type="submit" value="accept" />
								</form>
							</div>
							<div class="col2 right-button">
								<form action="{% url 'friend' friend.sender.id %}" method="post">
								{% csrf_token %}
									<input hidden type="text" value="1" name="friend">
									<input type="submit" value="deny" />
								</form>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div id="friends_get">
				{% for friend in friend_request_send %}
					<div class="friend">
						<a href="http://127.0.0.1:8000/userpage/{{ friend.receiver.id }}/">{{ friend.receiver.user_name }}</a>
						<div class="row">
							<div class="col2">
								<form action="{% url 'friend' friend.receiver.id %}" method="post">
								{% csrf_token %}
									<input hidden type="text" value="0" name="friend">
									<input type="submit" value="cancel request" />
								</form>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>
<div id="sitedat">sitedata(links to read-mes and such)</div>
<div id="chng_pass" style="display: none;">
	<div class="login_box" {% if start == "login" %}hidden{% endif %}>
		<h3 class="marg_z">Sign Up</h3><br>
		<form action="{% url 'chng_pass' %}" method="post">
		{% csrf_token %}
			<h4 class="marg_z">Username</h4><input type="text" placeholder="old password" name="oldpass"/><br>
			<h4 class="marg_z">Password</h4><input type="text" placeholder="new password" name="newpass"/><br>
			<h4 class="marg_z">Confirm Password</h4><input type="text" placeholder="confirm new password" name="newpassconf"/><br>
			<input type="submit" value="Change" />
		</form>
		{% if error == "prev_acc" %}
			<p class="errormsg">entered account name is taken</p>
		{% endif %}
		{% if error == "pass_match" %}
			<p class="errormsg">entered passwords do not match</p>
		{% endif %}
		{% if error == "blank_signup" %}
			<p class="errormsg">No name entered</p>
		{% endif %}
	</div>
</div>
</div>


