
{% load static %}
<a href="https://codepen-api-export-production.s3.us-west-2.amazonaws.com/zip/PEN/pyBNzX/1578778289271/pure-css-gradient-background-animation.zip" class="btn btn-outline-light" aria-current="page"></a>
<link rel="stylesheet" type="text/css" href="{% static 'userpage/style.css' %}">
<script src="{% static 'userpage/pagescript.js' %}"></script>
<div class="background">
<div id="nav" class="row">
	<div id="search" class="col2">
		<form action="{% url 'search' %}" method="post">
		{% csrf_token %}
			<input type="text" placeholder="User Search.." name="search"/>
			<input type="submit" value="go" />
		</form>
	</div>
	<div id="account" class="col2">
		<div class="dropdown"><button class="dropbtn">
			{% if user != 1 %}
				{{ user.user_name }}
			{% else %}
				signed-out
			{% endif %}
		</button>
			<div class="dropdown-content">
				<a href="http://127.0.0.1:8000/userpage">(signin/out)</a> 
				{% if user != 1 %}
					<a href="http://127.0.0.1:8000/userpage/{{ user.id }}/">(acc page)</a> 
					<a onclick="pass_chng()">(change account data)</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div id="content" class="row">
	<div id="stream">
		<div class="exppost">
			<div class="post_content" id="post{{ post.id }}"><textarea id="post_content_box" rows="5" name="post_content_box" placeholder="Say something interesting..." readonly>{{ post.post_text }}</textarea></div>
			<div class="edit_box" id="edit{{ post.id }}" hidden>
				<form action="{% url 'edit' post.id %}" method="post">
				{% csrf_token %}
					<div class="edit">
						<input hidden type="text" value="1" name="edit">
						<textarea class="edit_input" maxlength="256" name="text_input" rows="5" placeholder="Say something interesting...">{{ post.post_text }}</textarea>
						<br>
						<input type="submit" value="submit changes" />
					</div>
				</form>
			</div>
			<div class="post_action_bar">
				<div class="poster_id">
					<form action="{% url 'search' %}" method="post">
					{% csrf_token %}
						<input hidden type="text" name="search" value="{{post.user.user_name}}"/>
						<input type="submit" value="{{post.user.user_name}}" />
					</form>
				</div>
				<div class="post_like"><form action="{% url 'like' post.id %}" method="post">{% csrf_token %}<input hidden type="text" value="1" name="like"><input type="submit" value="like {{ post.like_set.count }}" /></form></div>
				<div class="post_comment"><form action="{% url 'comment_page' post.id %}" method="post">{% csrf_token %}<input hidden type="text" value="1" name="comment"><input type="submit" value="comment" /></form></div>
				{% if user.id != post.user.id %}
					<div class="post_share"><form action="{% url 'share' post.src %}" method="post">{% csrf_token %}<input hidden type="text" value="{{ post.user.id }}" name="share"><input type="submit" value="share" /></form></div>
				{% endif %}
				{% if user.id == post.user.id %}
					<div class="post_edit"><input type="submit" value="edit" onclick="edit_fun({{ post.id }}, 0)" /></div>
					<div class="del_post"><form action="{% url 'delete' post.id %}" method="post">{% csrf_token %}<input hidden type="text" value="1" name="del"><input type="submit" value="del" /></form></div>
				{% endif %}
			</div>
		</div>
		<br>
		<hr>
		{% for comment in comment_list %}
    			<div class="exppost">
				<div class="post_content" id="postp{{ comment.id }}"><textarea id="post_content_box" rows="5" name="post_content_box" placeholder="Say something interesting..." readonly>{{ comment.comment_text }}</textarea></div>
				<div class="edit_box" id="editp{{ comment.id }}" hidden>
					<form action="{% url 'edit' comment.id %}" method="post">
					{% csrf_token %}
						<div class="edit">
							<input hidden type="text" value="2" name="edit">
							<textarea class="edit_input" maxlength="256" name="text_input" rows="4" placeholder="Say something interesting...">{{ comment.comment_text }}</textarea>
							<br>
							<input type="submit" value="submit changes" />
						</div>
					</form>
				</div>
				<div class="post_action_bar">
					<div class="poster_id">
						<form action="{% url 'search' %}" method="post">
						{% csrf_token %}
							<input hidden type="text" name="search" value="{{comment.user.user_name}}"/>
							<input type="submit" value="{{comment.user.user_name}}" />
						</form>
					</div>
					<div class="post_like"><form action="{% url 'like' comment.id %}" method="post">{% csrf_token %}<input hidden type="text" value="2" name="like"><input type="submit" value="like {{ comment.like_set.count }}" /></form></div>
					{% if comment.user.id == user.id %}
						<div class="post_edit"><input type="submit" value="edit" onclick="edit_fun({{ comment.id }}, 1)" /></div>
						<div class="del_post"><form action="{% url 'delete' comment.id %}" method="post">{% csrf_token %}<input hidden type="text" value="2" name="del"><input type="submit" value="del" /></form></div>
					{% endif %}
				</div>
			</div>
			<br />
		{% endfor %}
		<form action="{% url 'comment_post' post.id %}" method="post">
		{% csrf_token %}
			<div id="newpost">
				<textarea id="text_input" maxlength="256" name="text_input" rows="4" placeholder="Say something interesting..."></textarea>
				<br>
				<input hidden type="text" value="{{ user.id }}" name="poster">
				<div id="counter">0/256</div>
				<input type="submit" value="post" />
			</div>
		</form>
		<div id="navigation" class="row navrow">
			<div class="nav">
				<form action="{% url 'comment_page_num' post.id 1 %}" method="post">
				{% csrf_token %}
					<input type="submit" value="1" {% if page_num == 1 %}style="background-color: E6E6FA;"{% endif %}>
				</form>
			</div>
			{% if 2 < page_num_prev %}
				<div class="nav">
					<p class="nav">. . .</p>
				</div>
			{% endif %}
			{% if max_page != 1 %}
				{% if page_num_prev >= 2 %}
					<div class="nav">
						<form action="{% url 'comment_page_num' post.id page_num_prev %}" method="post">
						{% csrf_token %}
							<input type="submit" value="{{ page_num_prev }}">
						</form>
					</div>
				{% endif %}
			{% endif %}
			{% if max_page != 2 %}
				{% if page_num != 1 %}
					{% if page_num != max_page %}
						<div class="nav">
							<form action="{% url 'comment_page_num' post.id page_num %}" method="post">
							{% csrf_token %}
								<input type="submit" value="{{ page_num }}" {% if page_num != max_page %}{% if page_num != 1 %}style="background-color: E6E6FA;"{% endif %}{% endif %}>
							</form>
						</div>
					{% endif %}
				{% endif %}
			{% endif %}
			{% if max_page >= 3 %}
				{% if page_num_post < max_page %}
					<div class="nav">
						<form action="{% url 'comment_page_num' post.id page_num_post %}" method="post">
						{% csrf_token %}
							<input type="submit" value="{{ page_num_post }}">
						</form>
					</div>
				{% endif %}
			{% endif %}
			{% if max_page_prev > page_num_post %}
				<div class="nav">
					<p class="nav">. . .</p>
				</div>
			{% endif %}
			{% if max_page != 1 %}
				<div class="nav">
					<form action="{% url 'comment_page_num' post.id max_page %}" method="post">
					{% csrf_token %}
						<input type="submit" value="{{ max_page }}" {% if page_num == max_page %}style="background-color: E6E6FA;"{% endif %}>
					</form>
				</div>
			{% endif %}
		</div>
		<br>
		<div class="item_count">
			<form action="{% url 'chng_size' user.id %}" method="post">
			{% csrf_token %}
				Items per page:
				<input type="number" id="size" name="size" min="1" max="50" value="{{ user.list_size }}">
				<input type="submit" value="change">
			</form>
		</div>
	</div>
	<div id="friends">
		<div id="page_name">
			<img src="{{ page.img.url }}" width="150px" height="150px" style="border-radius:50%;">
			<a href="http://127.0.0.1:8000/userpage/{{ page.id }}/"><h1>{{ page.user_name }}</h1></a>
			email: {{ page.email }}<br>
			phone: {{ page.phone }}<br>
			birthday: {{ page.birthday }}<br>
			gender: {{ page.gender }}<br>
			{% if user.id != page.id %}
				<form action="{% url 'friend' page.id %}" method="post">
				{% csrf_token %}
					<input type="submit" value="{% if friendstat == "False" %}friend{% else %}unfriend{% endif %}" />
				</form>
			{% endif %}		
		</div>
		<div id="friends_send_acc">
			{% for friend in friend_send %}
				<div class="friend">
					<a href="http://127.0.0.1:8000/userpage/{{ friend.receiver.id }}/">{{ friend.receiver.user_name }}</a>
					<div class="row">
						{% if page.id == user.id %}
							<div class="col2 left-button">
								<form action="{% url 'friend' friend.receiver.id %}" method="post">
								{% csrf_token %}
									<input hidden type="text" value="0" name="friend">
									<input type="submit" value="unfriend" />
								</form>
							</div>
						{% endif %}
						{% if page.id == user.id %}
							{% if friend.receiver.id != user.id %}
								<div class="col2 {% if page.id == user.id %}right-button{% endif %}">
									<div class="mesg"><input type="submit" class="mesg" value="Message" onclick="message('{{ friend.receiver.user_name }}', '{{ friend.sender.user_name}}')" /></div>
								</div>
							{% endif %}
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div id="friends_get_acc">
			{% for friend in friend_get %}
				<div class="friend">
					<a href="http://127.0.0.1:8000/userpage/{{ friend.sender.id }}/">{{ friend.sender.user_name }}</a>
					<div class="row">
						{% if page.id == user.id %}
							<div class="col2 left-button">
								<form action="{% url 'friend' friend.sender.id %}" method="post">
								{% csrf_token %}
									<input hidden type="text" value="0" name="friend">
									<input type="submit" value="unfriend" />
								</form>
							</div>
						{% endif %}
						{% if page.id == user.id %}
							{% if friend.sender.id != user.id %}
								<div class="col2 {% if page.id == user.id %}right-button{% endif %}">
									<div class="mesg"><input type="submit" class="mesg" value="Message" onclick="message('{{ friend.receiver.user_name }}', '{{ friend.sender.user_name}}')" /></div>
								</div>
							{% endif %}
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		{% if page.id == user.id %}
			<hr>
			<h4>Pending Requests:</h4>
			<div id="friends_send">
				{% for friend in friend_request_get %}
					<div class="friend">
						<a href="http://127.0.0.1:8000/userpage/{{ friend.sender.id }}/">{{ friend.sender.user_name }}</a>
						<div class="row">
							<div class="col2 left-button">
								<form action="{% url 'friend' friend.sender.id %}" method="post">
								{% csrf_token %}
									<input hidden type="text" value="0" name="friend">
									<input type="submit" value="accept" />
								</form>
							</div>
							<div class="col2 right-button">
								<form action="{% url 'friend' friend.sender.id %}" method="post">
								{% csrf_token %}
									<input hidden type="text" value="1" name="friend">
									<input type="submit" value="deny" />
								</form>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div id="friends_get">
				{% for friend in friend_request_send %}
					<div class="friend">
						<a href="http://127.0.0.1:8000/userpage/{{ friend.receiver.id }}/">{{ friend.receiver.user_name }}</a>
						<div class="row">
							<div class="col2">
								<form action="{% url 'friend' friend.receiver.id %}" method="post">
								{% csrf_token %}
									<input hidden type="text" value="0" name="friend">
									<input type="submit" value="cancel request" />
								</form>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>
<div id="sitedat">sitedata(links to read-mes and such)</div>
<div id="chng_pass" style="display: none;">
	<div class="login_box" {% if start == "login" %}hidden{% endif %}>
		<h3 class="marg_z">Change Password</h3><br>
		<form action="{% url 'chng_pass' %}" method="post">
		{% csrf_token %}
			<h4 class="marg_z">Username</h4><input type="text" placeholder="old password" name="oldpass"/><br>
			<h4 class="marg_z">Password</h4><input type="text" placeholder="new password" name="newpass"/><br>
			<h4 class="marg_z">Confirm Password</h4><input type="text" placeholder="confirm new password" name="newpassconf"/><br>
			<input type="submit" value="Change" />
		</form>
		{% if error == "prev_acc" %}
			<p class="errormsg">entered account name is taken</p>
		{% endif %}
		{% if error == "pass_match" %}
			<p class="errormsg">entered passwords do not match</p>
		{% endif %}
		{% if error == "blank_signup" %}
			<p class="errormsg">No name entered</p>
		{% endif %}
		<p class="or"><span>or</span></p>
		<h3 class="marg_z">Change Account Data</h3><br>
		<form action="{% url 'chng_img' user.pk %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
  			<input type="submit" value="open">
		</form>
	</div>
</div>
</div>

